<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" href="/CSS/stilus.css">
        <title>Felhasználok</title>
    </head>
    <body>
        <%- include('./nav.ejs') %>
        <div id="modal-container"></div>
        <div class="main-doc-container">
            <div class="doctors-section">
                <h3>Felhasználók</h3>
                <div class="doctor-list">
                    <% employees.forEach(employee => { %>
                    <div class="doctor-card">
                        <h4>
                            <%= employee.name %> (<%= employee.email %>)
                        </h4>
                        <h5 style="color: aliceblue;">Név: <%= employee.name %></h5>
                        <p style="color: aliceblue;">Email cím: <%= employee.email %></p>
                        
                        <!-- Gomb a modál megnyitásához -->
                        <button 
                            type="button" 
                            class="btn btn-primary" 
                            data-bs-toggle="modal" 
                            data-bs-target="#employeeModal<%= employee.id %>"
                            onClick="megnyit('<%= employee.name %>', '<%= employee.email %>')">
                            Részletek
                        </button>
                        <button onclick="szerkeszt('<%= employee.id %>')">Kaki</button>
                        <button onclick="torol('<%= employee.id%>')">Töröl</button>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>

        <script src="/js/modal.js"></script>
    </body>
</html>
