<!DOCTYPE html>
<html lang="hu">
    <head>
    <meta charset="UTF-8" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    />

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
        crossorigin="anonymous"
    />
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"
    ></script>
    <!-- <link rel="stylesheet" href="/CSS/indexhatter.css"> -->
    <link rel="stylesheet" href="/CSS/stilus.css">
    <link rel="icon" type="image/x-icon" href="/BG/favicon.ico">

    <title>Kezelések listája</title>
</head>
<body>
    <div class="kezeles-main">
    <%- include('./nav.ejs') %>
    <h1 style="text-align: center;  color: #0046ad;">Kezelések</h1>
    
    <div class="kezelesek-card">
            <div><select id="gordolo">
                <option value="">Beteg kiválasztása</option>
                <% egyediNevek.forEach(element => { %>
                    <option value="<%= element %>"><%= element %></option>
                <% }) %>
                <!-- <option value="anya">Beteg kiválasztása</option> -->
            </select></div>
            <% for( let i = 0; i < kezelesek.length; i++ ) { %>
                <div class="patient-card ">
                    <div style="font-size: 1rem; margin-bottom: 12px;">
                    <strong>Név:</strong> <strong style="color: rgba(240, 248, 255, 0.747);"><%= kezelesek[i].nev %></strong>  <br>
                    <strong >Páciens:</strong> <strong style="color: rgba(240, 248, 255, 0.747);"><%= emberkek[i].nev %></strong>  <br>
                    <strong >Orvos:</strong> <strong style="color: rgba(240, 248, 255, 0.747);"><%= kezelesek[i].orvos.nev %></strong> <br>
                    <strong >Időpont:</strong> <strong style="color: rgba(240, 248, 255, 0.747);"><%= kezelesek[i].idopont %></strong>
                </div> 
                </div>
            <% } %>
        <!-- <#% kezelesek.map(kezeles => { %>
        <#% }) %> -->
    </div>
    </div>
    <script src="/js/kezeles/kezeles.js"></script>
</body>
</html>
